body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
	overflow: hidden;
	width: 100%;
}

#info {
	padding: 5px ;
	width: 250px;
	margin: 0 auto;
	background-color: darkgray;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-ms-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
}

#progrsess {
	top: 25px;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 0;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

@keyframes slide-out-top {
	0% {
		 transform: translateY(0);
  
	}
	100% {
		 transform: translateY(-1000px);
	}
  }